<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Events</h3>
    </div>
    <div class="panel-body">

      <table class="table table-hover">
        <tr>
          <th>ID</th>
          <th>Timestamp</th>
          <th></th>
        </tr>

      <% @events.each do |event| %>
        <tr>
          <td><%= link_to event.id, event %></td>
          <td><%= event.timestamp %></td>
          <td><%= link_to 'Delete', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
      </table>
  
      <%= paginate @events %>
      <br />

    </div>
  </div><!-- end div.panel -->
</div><!-- end div.row-->
